/*
*****HEADER*****
*/
header{
    background-color: hsl(201, 54%, 84%); /* Green */
    color: rgb(8, 5, 58);
    padding: 19px;
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    background-color: hsl(200, 60%, 33%); /* Green */
    color:#2a2323;
    padding: 10px;
    text-align: center;
}

nav a:link, nav a:visited {
    color: #ffffff;
    padding: 10px 14px;
}

nav a:hover{
    color: #0066CC;
    background: #ffffff;
    text-decoration: none;
}

img {
    float: center;
    width: 500px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    background-color: hsl(201, 54%, 84%); /* Green */
    color: rgb(8, 5, 58);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

.footer {
    background-color: hsl(200, 60%, 33%); /* Green */
    color: #ffffff;
    padding: 10px 60px;;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}